
h2{
    text-transform: capitalize;
}

.cv{
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;

    &__header{
h1{
    text-align: center;
}
    }

    &__body{
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        flex-wrap: wrap;
        gap: 20px;

        main{
            flex: 1;
            min-width: 300px;
            padding-left: 40px;
        }

        aside{
            max-width: 300px;
            @media print {
                max-width: 50mm;
            }

            section{
                margin-bottom: 40px;

                @media print {
                    margin-bottom: 10px;
                }

                h2{
                    color: #666;

                    @media print {
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.article{
    &:not(:last-child){
        margin-bottom: 40px;

        @media print {
            margin-bottom: 10px;
        }
    }

    &__technologies{
        margin-top: 10px;
        color: #888;
        font-style: italic;

        @media print {
            margin-top: 0;
        }
    }

    
    &__title{
        @media print{
            display: none;
        }
    }

    h1{
        font-size: 1.25em;

        @media print {
            font-size: 1em;
            margin-bottom: 0;
        }
    }
}

.experience{
    &__role{
        margin-bottom: 40px;
        padding: 10px 10px 26px 40px;
        position: relative;
        background: rgba(0,0,0,0.025);

        @media print {
            margin-bottom: 10px;
            padding: 5px 5px 13px 40px;
            h1{
                font-size: 1.25em;
            }
        }

        &__company{
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media print{
                flex-direction: row;
                gap: 20px;
            }
        }

        > :last-child{
            margin-bottom: 0;
        }

        // &:first-child:after{
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     border: 4px solid rgb(41, 86, 163);
        //     transform: scale(1);
        //     box-sizing: border-box;
        //     animation: pulse 1s infinite;
        // }

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 100%;
            background-color: #eee;
        }
        &:first-child:before{
            background-color: #bbb;
        }
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}