@import '~normalize.css';
@import 'mixins';
@import 'animations';

@font-face {
  font-family: 'Oxygen';
  src: url('/src/assets/fonts/Oxygen-Regular.ttf');
}

body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  color: #137676;
  text-decoration: none;
}

.pill-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media print {
    gap: 2px;
  }

  li {
    display: inline-block;
    border-radius: 20px;
    background-color: #eee;
    padding: 5px 10px;
    opacity: 0;
    animation: fadeIn 0.4s ease-in forwards;

    // Force position and visibility for print
    @media print {
      padding: 2px 5px;
      opacity: 1 !important;

    }

    @include animation-increment-delay(0.03s);
  }
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;

    &:not(:last-child):after {
      content: ', ';
    }
  }
}

h1 {
  article & {
    font-size: 1.2em;
  }
}

time,
.location {
  color: #666;
  font-style: italic;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
    font-size: 9pt;
  }
}

button{
  padding: 8px 12px;
  background: #ccc;
  border: 0;
  border-radius: 3px;

  &.active{
    background: #137676;
    color: white;
  }
}

pre{
  white-space: pre-wrap;
}
